[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-bootstrap = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-login = "*"
python-dotenv = "*"
gunicorn = "*"
psycopg2 = "*"
email_validator = "*"
pandas = "*"
gspread = "*"


[requires]
python_version = "3.8"
