{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="container"><br>
  <center>
    <h2> Rules </h2>
  </center>
</div>

<div class = "container theme-showcase" role ="main">
  <div class="jumbotron">
      <body>
         <p>
           You will see the balance sheet of a hypothetical bank on the left of the screen. On the right, you will see the <i>Regulation</i> column which will list a set of hypothetical regulations applicable to the balance sheet on the left. Evaluate how much <b>risk-weighted assets</b> the bank, based in France (which is in the European Union), has according to the rules given in the "Regulation" column. To compute risk-weighted assets, each asset position on a bank's balance sheet is multiplied with a risk-weight, defined in the hypothetical regulation. The total risk-weighted assets are the sum of these positions. A bank's risk-weighted assets are therefore a function of the hypothetical regulation, which will change in the different rounds of the experiment.<br>
           <br>
           In the <i>Balance Sheet</i> column on the left of the screen you see the asset side of a hypothetical bank. Each row is an entry on the balance sheet and the <b>Type</b> denotes what kind of entry it is. <b>Amount</b> is the amount in Million, <b>Denomination</b> is the currency in which the amount is denominated, including whether it is in national or foreign currency (assume that USD can be exchanged for EUR at a rate of 1:1), <b>Maturity</b> denotes the remaining maturity of the asset in years, <b>Counterparty of issuer</b> indicates who issued the asset, and the <b>Guarantor</b> indicates if another party guarantees the asset.<br>
           <br>
           Enter your answer (in Million EUR) in the <b>Enter answer</b> field and click "Save and continue".<br>
           <br>
           There is a timer on the left to show how much time elapsed since you started the evaluation of this regulation. This information is used in our analysis, but not in the computation of your score.
          <!-- You can access a template that you can use to calculate the required capital by clicking the blue "Download Excel Template" button on the top left. -->
          <p>
      </body>

  </div>
</div>

<script>
  function reset_timer() {
  startTime = new Date();
  window.localStorage.setItem('startTime', startTime);
  return startTime;
}
</script>


{% endblock %}
